# NEXT_PUBLIC_API_URL=http://localhost:8080

# Main customer storefront (www / apex)
NEXT_PUBLIC_CUSTOMER_SITE_URL=http://localhost:3000

# Driver portal subdomain
NEXT_PUBLIC_DRIVER_SITE_URL=http://localhost:3002
