# NEXT_PUBLIC_API_URL=http://localhost:8080

# Main customer storefront (www / apex)
NEXT_PUBLIC_CUSTOMER_SITE_URL=http://localhost:3000

# Seller portal subdomain
NEXT_PUBLIC_SELLER_SITE_URL=http://localhost:3001
